.CustomEtherButton .EthDonateButton {
  background-color: #3E3F3A;
  color: #F8F5F0;
  position: absolute;
  left: 41vw;
}

.CustomEtherButton .EthDonateButton--DisabledOverlay {
  color: #3E3F3A
}

.CustomEtherButton .EthDonateButton--Blockie {
  display: none;
}

.CustomEtherButton .EthDonateButton--Content {
  max-width: 100%;
  height: 64px;
}

.CustomEtherButton .EthDonateButton--LabelRow--Caption {
  width: initial;
}

.CustomEtherButton .EthDonateButton--LabelRow--Address {
  width: 65%;
}
